<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/style') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <h1>Edit Product</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/products/edit/<%= id %>" method="POST">
        <label>Product Name</label>
        <br>
        <input type="text" name="name" value="<%= data1[0].name %>">
        <br>
        <label>Product Type</label>
        <br>
        <input type="text" name="type" value="<%= data1[0].type %>">
        <br>
        <label>Assigned to</label>
        <br>
        <select name="OperatorId">
            <% for (let a = 0; a <data2.length; a++){ %>
                <option value="<%= data2[a].id %>" <%= (data1[0].OperatorId == data2[a].id) ? 'selected' : '' %>><%=data2[a].name %></option>
            <% } %>
        </select>
        <br>
        <button type="submit">submit</button>
        <button><a href="/products/list" style="text-decoration: none; color: black;">Cancel</a></button>
    </form>
</body>
</html>